@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

#loading {
  color: white;
  font-family: 'Roboto';
  font-size: 1.5rem;
  left: 50%;
  letter-spacing: .2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sphere {
  /* background: url('https://i.ibb.co/MZJt2NM/Artboard.png'); */
  background:  black;
  border-radius: 100%;
  height: min(80vh, 80vw);
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(80vh, 80vw);
}

